  h1,p,h2{
                text-align: center;
            } 
            img{
                width: 100%;
                height: 469px;
                margin-left: auto;
            }

            table,th{
                text-align: center;
                
            }

            .btn-default{
                background: #5bc0de;
                color: white;
                font-size: 16px;
            }

            .btn-default:hover{
                background: lightblue;
            }

            .foto{
                width: 50px;
                height: 50px;
            }

            #organizar{
                margin-top: 45px;
            }