/**
 *
 * Estilos.css para exemplo de background full size com paralax
 * Criado por Ronaldo Diniz
 * Site: http://www.ronaldodiniz.com.br/
 *
 */


 /* A seguir um reset simples para padronizar */
 /* Acrescentei apenas o box-sizing */
 /* Segue também a fonte do criador */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	/* acrescentando box-sizing */
	box-sizing: border-box;
	webkit-box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Primeiro vamos a nossas personalizações básicas */
body {
	font: 14px/1.1 'Open Sans', sans-serif;
	color: #444;
	background-color: #fafafa;
}
h1 {
	font-size: 2em;
	font-weight: bold;
	text-transform: uppercase;
}
h2 {
	font-size: 2em;
	margin-bottom: 1em;
}
p{
	margin-bottom: 1em;
	line-height: 2;
}
.header {
	background-color: #333;
	color: white;
	padding: 30px;
	position: relative;
}
.header h1 {
	text-align: center;
	text-shadow: 0 0 2px #000;
	background-color: rgba(0,0,0,0.5);
	padding: 30px;
	position: absolute;
	top:40%;
	left: 0;
	width: 100%;
}
.corpo {
	max-width: 1160px;
	padding: 20px 30px;
	margin: 0 auto;
}
.footer {
	padding: 30px ;
	background: #333;
	background-size: 100% auto;
}
.copy {
	color: #AAA;
	text-align: center;
	font-size: 0.8em;
}
.copy a {
	text-decoration: none;
	color: #AFF;
}

/* Agora sim vamos ao que interessa */

.fullheight {
	/*com isso o header ficará sempre com o tamanho da tela */
	height: 100vh;
	/*background geralmente uso o modo compacto, mas aqui vou colocar separadamente para explicar cada parte*/
	/* aqui defino a imagem maior*/
	background-image: url("image/cerca-2000.jpg");
	/*deixa o background com efeito paralax*/
	background-attachment: fixed;
	/* cover é para nunca deixar espaço sem imagem*/
	background-size: cover;
}
/* aqui troco a imagem pra cada resolução na ordem do maior pro menor */
@media screen and (max-width: 1500px) {
	.header.fullheight {
		background-image: url("image/cerca-1500.jpg");
	}
}
@media screen and (max-width: 1000px) {
	.header.fullheight {
		background-image: url("image/cerca-1000.jpg");
	}
}
@media screen and (max-width: 800px) {
	.header.fullheight {
		background-image: url("image/cerca-800.jpg");
	}
}
@media screen and (max-width: 600px) {
	.header.fullheight {
		background-image: url("image/cerca-600.jpg");
	}
}
@media screen and (max-width: 400px) {
	.header.fullheight {
		background-image: url("image/cerca-400.jpg");
	}
}
@media screen and (max-width: 320px) {
	.fullheight {
		background-image: url("image/cerca-320.jpg");
	}
}

